@import 'global';
@import 'variables';

.education-content {
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(150px, auto));
    align-items: center;
    text-align: center;
    gap: 3rem;
    
    h4 {
        font-family: 'Inter';
        font-weight: 600;
       cursor: pointer;
        @extend .transition;
        &:hover {
            transform: translateY(-2px);
            color: $main-color;
            text-shadow: 0px 0px 10px $main-color;

        }
    }
}

.row-img{
    overflow: hidden; //cuts off any excess overflowing 
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    img {
        width: 100%;
        
        
        display: block;
        @extend .transition;
        
        &:hover {
            transform: scale(1.2);
        }
    }

   
}

