.flex {
    align-items: center;
    display: flex;
}

.transition { //this will go with navbar text and most of the buttons and also course transitions
    transition: all 0.45s ease-in-out;

}