@import 'variables';
@import 'global';

.home {
    font-family: 'Hindi Guntur';
    margin-top: 125px;
    position: relative;
    width: 100%;
    background-image: linear-gradient(to left,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),url('/group.jpeg');
    background-size: cover;
    height: 100vh;
    background-position: bottom center ;
    
    
    .home-text {
        font-family:'Inter' ;
        h5 {
            
            font-size: 18px;
            font-weight: 600;
            color: $main-color;
            letter-spacing: 6px;
            margin-bottom: 10px;
           
        }
        h5:nth-child(1) {
            color: $main-color;
            text-shadow: 0px 0px 8px $text-color;
        } 
        
        h5:nth-child(2) {
            color: $side-color;
            text-shadow: 0px 0px 11px $text-color;
        }
        
        h1 {
            font-size: $h1-font;
            letter-spacing: 4px;
            span {
                color: $main-color;
                text-shadow: 0px 0px 13px;
                font-weight: 800;
                margin-bottom: 20px;
                
            }
        }

        p {
            font-size: $p-font;
            font-weight: 500;
            letter-spacing: .2px;
            width: 91%;
            margin-top: 15px;
        }
    }
}

@media (max-width:1200px) {
    .home {
        position: relative;
        .home-text {
            position: absolute;
            top: 30%;
            left: 35%;
            h5 {
                font-size: 1rem;

            }
            h1 {
                font-size: 2rem;
                width: 80%;
            }

            p {
                font-size: 12px;
                width: 85%;
            }
            
        }
    }
}