// Text Colors
$text-color: #ffffff;
$side-text-color: #000000;
$tertiary-text-color: rgb(73, 68, 68);

// Colors
$bg-color: #000000;
$main-color: rgb(76, 147, 239);
$side-color: rgb(54, 127, 255);

// Font Sizes
$h1-font: 4rem; // 64px
$h2-font: 3.5rem; //48 px
$h3-font: 2.5rem; //40px
$p-font: 1rem;   //16px